body{
  background-color: grey;
}
body h2
{
    margin: 0 0 30px;
    padding: 0;
    color: black;
    font-size: xx-large;
    text-align: center;
}
.input-hidden {
    position: absolute;
    left: -9999px;
  }
  
  input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #090;
  }

  input[type=radio] + label>img 
  {    
    border: 1px  #444;
    width: 150px;
    height: 150px;
    transition: 500ms all;
  }
  .content {
    max-width: 750px;
    margin: auto;
    background-color: rgb(255, 248, 248);
    padding: 100px;
}
  
